body{
    background-color: #187185;
}
h1 {
    display: flex;
    justify-content: center;
    position: relative;
Top:-4px;
color: #f5f5f5;
left: -238px;

font-family: 'Roboto', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;


}
hr {
    position: relative;
    display: flex;
    justify-content: center;
    width: 841px;
    top: -37px;
    left: -44px;

}
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    margin: 10px;
    line-height: 1;
}
a {

    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 20px; 
    padding: 10px;
  line-height: 0.4;
    border-radius: 5px;
    text-decoration: none;
  
    color:#f5f5f5;
    text-align: left;
    cursor: pointer;
} 
#project-links li:nth-of-type(1) a{
    margin-left: -194px;
}
#project-links li:nth-of-type(2) a{
    margin-left: -169px;
}

#project-links li:nth-of-type(3) a{
    margin-left: -113px;
}

#project-links li:nth-of-type(4) a{
    margin-left: -150px;
}

#project-links li:nth-of-type(5) a{
    margin-left: -43px;
}
#project-links li:nth-of-type(6) a{
    margin-left: -104px;
}
#project-links li:nth-of-type(7) a{
    margin-left: -80px;
}
#project-links li:nth-of-type(8) a{
    margin-left: -55px;
}
#project-links li:nth-of-type(9) a{
    margin-left: -55px;
}
#project-links li:nth-of-type(10) a{
    margin-left: -55px;
}





#project-links{
display: flex;
justify-content: center;
align-items: center;
position: relative;
Top:-23px;
left: -227px;
flex-direction: column;
font-size: 21px;
font-family: Arial, Helvetica, sans-serif;

}
.home-page
{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.project-demostration{
    margin-left: 90px;
}
.Train-test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -314px;
}

.Train-test h1 {
    font-size: 32px;
    margin-left: -10px;
    color: white;
    margin-top: -41px;
font-family: Arial, Helvetica, sans-serif;

}
.Train-test a {
    margin-left: -563px;
    font-size: 26px;
}

.margin-top{
    margin-top: -20px;
    color: #f2eeee;
    margin-bottom: 37px;
    font-size: 32px;
    margin-left: -84px;

}
.project-demostration h2{
    font-size: 32px;
    margin-left: -10px;
    color: white;
    margin-top: -41px;

}