body{
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    text-align: center;
}

#myCanvas{
    background: lightgray;
}
.main-stage{
    display: flex;
    justify-content: center;
    position: relative;
}
.left,.right,.canvas-stage{
    flex: 1;
}
.right{
    position: relative;
}
.right
.icon .home{
    position: absolute;
    top: 0;
    left: 235px;
}
.right
.icon .homes{
    position: absolute;
    top: 0;
    left: 320px;
}



.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}
.left .desc-div{
    flex: 1;    display: flex;

    justify-content: center;
    flex-direction: column;
}
.left .desc-div h1{
    text-align: left;
    padding-left: 60px;

}


.icon
svg{
    border-radius: 50%;
    background-color: rgb(56, 57, 57);
}
.icon
svg:hover{
    background-color: aquamarine;
    fill: black;

}
.desc-div
p{
    padding-left: 60px;
padding-right: 20px;
text-align: justify;
font-size: 20px;

}
.canvas-stage{
    display: flex;
    justify-content: center;
}