body{
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    text-align: center;
}

#carCanvas{
    background: lightgray;
}

#networkCanvas{
    background: black;
}
.first-stage{
    display: flex;
    flex-direction: row;
}
.canvas-stages{
    display: flex;
}


.next-stage {

    left: 165px !important;
}